* {
  margin: 0;
  padding: 0;
  border: none;
}

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans.ttf");
}
@font-face {
  font-family: OpenSans-Bold;
  src: url("fonts/OpenSans-Bold.ttf");
}
body, html {
  height: 100%;
}

.header {
  background: url(img/bg-header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 892px;
}
.header .header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #3c2e3d;
  padding: 20px 0 20px 0;
}
.header .header-row .head-logo {
  padding-left: 200px;
}
.header .header-row .header-row-menu-search {
  display: flex;
  align-items: center;
}
.header .header-row .header-row-menu-search .dropdown-menu-icon {
  display: none;
}
.header .header-row .header-row-menu-search .dropdown-content ul {
  display: flex;
  margin-right: 0px;
}
.header .header-row .header-row-menu-search .dropdown-content ul li {
  list-style: none;
  padding: 0 20px;
}
.header .header-row .header-row-menu-search .dropdown-content ul li a {
  text-decoration: none;
  color: #edecec;
}
.header .header-row .header-row-menu-search .dropdown-content ul li a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 27px;
}
.header .header-row .header-row-menu-search .search {
  position: relative;
  width: 200px;
}
.header .header-row .header-row-menu-search .search input {
  width: 90%;
  height: 35px;
  border-radius: 20px;
  background: #EEE;
  outline: none;
}
.header .header-row .header-row-menu-search .search input[type=submit] {
  padding: 10px;
  background: url(img/search.png) no-repeat;
  border: none;
  display: block;
  width: 17px;
  height: 17px;
  text-indent: -50px;
  position: absolute;
  top: 10px;
  right: 30px;
}
.header .header-row .header-row-menu-search .search input[type=search] {
  color: #626262;
  padding-left: 15px;
}
.header .header-row .header-row-menu-search ::-webkit-input-placeholder {
  color: #626262;
  opacity: 0.6;
}
.header .header-row .header-row-menu-search ::-moz-placeholder {
  color: #626262;
  opacity: 0.6;
}
.header .header-row .header-row-menu-search :-moz-placeholder {
  color: #626262;
  opacity: 0.6;
}
.header .header-row .header-row-menu-search :-ms-input-placeholder {
  color: #626262;
  opacity: 0.6;
}
.header .header-row .header-row-menu-search ::placeholder {
  color: #626262;
  opacity: 0.6;
}
.header .header-information {
  display: flex;
  width: 25%;
  text-align: right;
  margin: 40vh 0 0 25vh;
}
.header .header-information .information-text h1 {
  font-family: OpenSans;
  font-size: 2.5em;
  color: #ffffff;
}
.header .header-information .information-text .button-violet {
  text-decoration: none;
  display: inline-block;
  padding: 12px 40px;
  margin: 10px 0 20px 0;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -ms-border-radius: 30px 30px 30px 30px;
  -o-border-radius: 30px 30px 30px 30px;
  border-radius: 30px 30px 30px 30px;
  background: -webkit-linear-gradient(45deg, #78409f 0%, #b168e4 50%, #380959 100%);
  background: -moz-linear-gradient(45deg, #78409f 0%, #b168e4 50%, #380959 100%);
  background: -ms-linear-gradient(45deg, #78409f 0%, #b168e4 50%, #380959 100%);
  background: -o-linear-gradient(45deg, #78409f 0%, #b168e4 50%, #380959 100%);
  background: linear-gradient(45deg, #78409f 0%, #b168e4 50%, #380959 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-weight: 300;
  font-family: OpenSans-Bold;
  font-size: 1em;
  color: #ffffff;
  -webkit-box-shadow: 0 16px 32px rgba(0, 40, 120, 0.35);
  -moz-box-shadow: 0 16px 32px rgba(0, 40, 120, 0.35);
  -ms-box-shadow: 0 16px 32px rgba(0, 40, 120, 0.35);
  -o-box-shadow: 0 16px 32px rgba(0, 40, 120, 0.35);
  box-shadow: 0 16px 32px rgba(0, 40, 120, 0.35);
  transition: 0.5s;
}
.header .header-information .information-text .button-violet:hover {
  -webkit-box-shadow: 0 0 0 rgba(0, 40, 120, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 40, 120, 0);
  -ms-box-shadow: 0 0 0 rgba(0, 40, 120, 0);
  -o-box-shadow: 0 0 0 rgba(0, 40, 120, 0);
  box-shadow: 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
.header .header-information .information-text p {
  font-family: OpenSans;
  font-size: 0.8em;
  color: #e4dfe0;
}

.main .section-one {
  display: flex;
  justify-content: center;
  background-color: #2e3b4e;
  padding: 30px 0 60px 0;
}
.main .section-one .column-left, .main .section-one .column-right {
  width: 24%;
  margin-right: 60px;
}
.main .section-one .column-left h2, .main .section-one .column-right h2 {
  font-family: OpenSans-Bold;
  font-size: 1em;
  color: #ffffff;
  text-transform: uppercase;
  padding: 35px 0 15px 0;
}
.main .section-one .column-left p, .main .section-one .column-right p {
  font-family: OpenSans;
  font-size: 0.9em;
  color: #ffffff;
}
.main .section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(img/bg-img-sec-two.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 565px;
}
.main .section-two .sec-two-information h2 {
  font-family: OpenSans;
  font-size: 2.3em;
  color: #ffffff;
  font-weight: normal;
}
.main .section-two .sec-two-information p {
  font-family: OpenSans;
  font-size: 0.9em;
  color: #ffffff;
  text-align: center;
  padding-top: 15px;
}
.main .section-two .sec-two-information .button-wrap {
  text-align: center;
}
.main .section-two .sec-two-information .button-wrap .button-white {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 250px;
  height: 45px;
  line-height: 45px;
  -webkit-border-radius: 45px 45px 45px 45px;
  -moz-border-radius: 45px 45px 45px 45px;
  -ms-border-radius: 45px 45px 45px 45px;
  -o-border-radius: 45px 45px 45px 45px;
  border-radius: 45px 45px 45px 45px;
  font-family: OpenSans-Bold;
  font-size: 1em;
  color: #d85d71;
  text-align: center;
  background: white;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0);
  -ms-box-shadow: 0 8px 15px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 8px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0);
  transition: 0.6s;
  margin: 3em 0 0 0;
}
.main .section-two .sec-two-information .button-wrap .button-white:hover {
  background: #e88898;
  box-shadow: 0 10px 15px rgba(232, 136, 152, 0.4);
  -webkit-box-shadow: 0 10px 15px rgba(232, 136, 152, 0.4);
  -moz-box-shadow: 0 10px 15px rgba(232, 136, 152, 0.4);
  -ms-box-shadow: 0 10px 15px rgba(232, 136, 152, 0.4);
  -o-box-shadow: 0 10px 15px rgba(232, 136, 152, 0.4);
  box-shadow: 0 10px 15px rgba(232, 136, 152, 0.4);
  color: white;
  transform: translateY(-3px);
}
.main .section-three {
  display: flex;
  align-items: center;
}
.main .section-three .information {
  width: 45%;
  padding: 30px 0 30px 30px;
}
.main .section-three .information h2 {
  font-family: OpenSans-Bold;
  font-size: 1.3em;
  color: #3a4d60;
  text-transform: uppercase;
}
.main .section-three .information .first-paragraph {
  font-family: OpenSans;
  font-size: 1.1em;
  color: #3a4d60;
  padding-top: 10px;
  line-height: 30px;
}
.main .section-three .information .second-paragraph {
  font-family: OpenSans;
  font-size: 1em;
  color: #3a4d60;
  padding-top: 30px;
  line-height: 30px;
}
.main .section-four {
  display: flex;
  background: url(img/bg-img-sec-four.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 550px;
}
.main .section-four .sec-four-info {
  background: rgba(59, 184, 125, 0.6);
  width: 100%;
  height: 400px;
  margin-top: 150px;
  text-align: center;
}
.main .section-four .sec-four-info h2 {
  font-family: OpenSans;
  font-size: 2.1em;
  color: #ffffff;
  padding: 50px 0 20px 0;
}
.main .section-four .sec-four-info P {
  font-family: OpenSans;
  font-size: 1em;
  color: #ffffff;
}
.main .section-four .sec-four-info .button-green {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 40px;
  margin: 20px 20px;
  font-family: OpenSans-Bold;
  font-size: 1em;
  color: #ffffff;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -ms-border-radius: 30px 30px 30px 30px;
  -o-border-radius: 30px 30px 30px 30px;
  border-radius: 30px 30px 30px 30px;
  background: -webkit-linear-gradient(to right, #76d8a5 0%, #032915 51%, #9EEFE1 100%);
  background: -moz-linear-gradient(to right, #76d8a5 0%, #032915 51%, #9EEFE1 100%);
  background: -ms-linear-gradient(to right, #76d8a5 0%, #032915 51%, #9EEFE1 100%);
  background: -o-linear-gradient(to right, #76d8a5 0%, #032915 51%, #9EEFE1 100%);
  background: linear-gradient(to right, #76d8a5 0%, #032915 51%, #9EEFE1 100%);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-size: 200% auto;
  transition: 0.5s;
}
.main .section-four .sec-four-info .button-green:hover {
  background-position: right center;
}
.main .section-five {
  display: flex;
  align-items: center;
  background: url(img/bg-img-sec-five.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 667px;
}
.main .section-five .block-information {
  margin: 100px 0 0 100px;
}
.main .section-five .block-information .button-post {
  text-decoration: none;
  outline: none;
  display: inline-block;
  line-height: 40px;
  border: 1px solid #ffffff;
  width: 160px;
  height: 40px;
  -webkit-border-radius: 45px 45px 45px 45px;
  -moz-border-radius: 45px 45px 45px 45px;
  -ms-border-radius: 45px 45px 45px 45px;
  -o-border-radius: 45px 45px 45px 45px;
  border-radius: 45px 45px 45px 45px;
  font-family: OpenSans;
  font-size: 0.9em;
  color: #ffffff;
  -webkit-box-shadow: 0 8 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8 15px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 8 15px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 8 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.6s;
  margin-bottom: 10px;
}
.main .section-five .block-information .button-post:hover {
  background: #ffffff;
  -webkit-box-shadow: 0 10 15px rgba(232, 136, 152, 0.4);
  -moz-box-shadow: 0 10 15px rgba(232, 136, 152, 0.4);
  -ms-box-shadow: 0 10 15px rgba(232, 136, 152, 0.4);
  -o-box-shadow: 0 10 15px rgba(232, 136, 152, 0.4);
  box-shadow: 0 10 15px rgba(232, 136, 152, 0.4);
  color: #000000;
  transform: translateY(-3px);
}
.main .section-five .block-information h2 {
  font-family: OpenSans;
  font-size: 2.5em;
  color: #ffffff;
}
.main .section-five .block-information p {
  font-family: OpenSans-Bold;
  font-size: 0.9em;
  color: #b0aead;
  padding-left: 10px;
}
.main .section-five .block-information p:before {
  content: url(img/author.png);
  position: relative;
  top: 20px;
  left: -15px;
}
.main .section-six {
  display: flex;
  align-items: center;
}
.main .section-six .text_about {
  width: 45%;
  padding: 30px 0 30px 30px;
}
.main .section-six .text_about h2 {
  font-family: OpenSans-Bold;
  font-size: 1.3em;
  color: #3a4d60;
  text-transform: uppercase;
}
.main .section-six .text_about .first-paragraph {
  font-family: OpenSans;
  font-size: 1.1em;
  color: #3a4d60;
  padding-top: 10px;
  line-height: 30px;
}
.main .section-six .text_about .second-paragraph {
  font-family: OpenSans;
  font-size: 1em;
  color: #3a4d60;
  padding-top: 30px;
  line-height: 30px;
}
.main .section-seven {
  background-color: #e7526b;
  padding: 100px 0 100px 100px;
}
.main .section-seven h2 {
  font-family: OpenSans-Bold;
  font-size: 0.9em;
  color: #fceef0;
  text-transform: uppercase;
}
.main .section-seven p {
  font-family: OpenSans;
  font-size: 0.9em;
  color: #f9dce0;
  line-height: 25px;
  padding: 10px 0 30px 0;
}
.main .section-seven .mail {
  font-family: OpenSans-Bold;
  font-size: 0.9em;
  color: #ffffff;
}
.main .section-seven .mail:hover {
  text-decoration: none;
}

.footer {
  background-color: #2e3b4e;
  padding: 50px 0;
  text-align: center;
}
.footer p {
  font-family: OpenSans;
  font-size: 0.9em;
  color: #ffffff;
  padding-left: 100px;
}

@media screen and (min-width: 961px) and (max-width: 1100px) {
  .header .header-row .head-logo {
    padding-left: 70px;
  }
  .header .header-information {
    width: 45%;
    margin: 40vh 0 0 10vh;
  }

  .main .section-one .column-left, .main .section-one .column-right {
    width: 35%;
  }
  .main .section-three .information {
    width: 50%;
    padding: 20px 20px 0 0px;
  }
  .main .section-three .information h2 {
    font-family: OpenSans-Bold;
    font-size: 1em;
    color: #3a4d60;
  }
  .main .section-three .information .first-paragraph {
    font-family: OpenSans;
    font-size: 1em;
    color: #3a4d60;
    line-height: 23px;
  }
  .main .section-three .information .second-paragraph {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #3a4d60;
    padding-top: 20px;
  }
  .main .section-six .text_about {
    width: 45%;
    padding: 20px 0 0 0px;
    margin-right: 20px;
  }
  .main .section-six .text_about h2 {
    font-family: OpenSans-Bold;
    font-size: 1em;
    color: #3a4d60;
  }
  .main .section-six .text_about .first-paragraph {
    font-family: OpenSans;
    font-size: 1em;
    color: #3a4d60;
    line-height: 23px;
  }
  .main .section-six .text_about .second-paragraph {
    font-family: OpenSans;
    font-size: 0.9em;
    color: #3a4d60;
    padding-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  .header .header-row {
    justify-content: space-between;
  }
  .header .header-row .head-logo {
    padding-left: 20px;
  }
  .header .header-row .header-row-menu-search .dropdown-content ul {
    display: flex;
    margin-right: 0px;
  }
  .header .header-row .header-row-menu-search .dropdown-content ul li {
    list-style: none;
    padding: 0 10px;
  }
  .header .header-row .header-row-menu-search .search {
    width: 130px;
  }
  .header .header-row .header-row-menu-search .search input[type=submit] {
    right: 20px;
  }
  .header .header-row .header-row-menu-search .search input[type=search] {
    padding-left: 10px;
  }
  .header .header-row .header-row-menu-search ::-webkit-input-placeholder {
    color: #626262;
    opacity: 0.6;
    font-size: 0.8em;
  }
  .header .header-row .header-row-menu-search ::-moz-placeholder {
    color: #626262;
    opacity: 0.6;
    font-size: 0.8em;
  }
  .header .header-row .header-row-menu-search :-moz-placeholder {
    color: #626262;
    opacity: 0.6;
    font-size: 0.8em;
  }
  .header .header-row .header-row-menu-search :-ms-input-placeholder {
    color: #626262;
    opacity: 0.6;
    font-size: 0.8em;
  }
  .header .header-row .header-row-menu-search ::placeholder {
    color: #626262;
    opacity: 0.6;
    font-size: 0.8em;
  }
  .header .header-information {
    width: 60%;
    margin: 40vh 0 0 10vh;
  }

  .main .section-one .column-left, .main .section-one .column-right {
    width: 40%;
    margin: 0 0px 0 40px;
  }
  .main .section-three .img-desktop {
    max-width: 45%;
  }
  .main .section-three .information {
    width: 60%;
    padding: 0px 0 0 0px;
  }
  .main .section-three .information h2 {
    font-family: OpenSans-Bold;
    font-size: 1em;
    color: #3a4d60;
  }
  .main .section-three .information .first-paragraph {
    font-family: OpenSans;
    font-size: 0.9em;
    color: #3a4d60;
    line-height: 18px;
  }
  .main .section-three .information .second-paragraph {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #3a4d60;
    padding-top: 15px;
    line-height: 18px;
  }
  .main .section-five .block-information h2 {
    font-family: OpenSans;
    font-size: 2.3em;
    color: #ffffff;
  }
  .main .section-six .img-desktop {
    max-width: 45%;
  }
  .main .section-six .text_about {
    width: 60%;
    padding: 5px 15px 0 0px;
  }
  .main .section-six .text_about h2 {
    font-family: OpenSans-Bold;
    font-size: 1em;
    color: #3a4d60;
  }
  .main .section-six .text_about .first-paragraph {
    font-family: OpenSans;
    font-size: 0.9em;
    color: #3a4d60;
    line-height: 18px;
  }
  .main .section-six .text_about .second-paragraph {
    font-family: OpenSans;
    font-size: 0.8em;
    color: #3a4d60;
    padding-top: 10px;
    line-height: 18px;
  }

  .footer p {
    padding-left: 0px;
    text-align: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    background: url(img/bg-header-mobile.jpg) no-repeat fixed;
    height: 515px;
  }
  .header .header-row {
    justify-content: space-between;
  }
  .header .header-row .head-logo {
    padding-left: 10px;
  }
  .header .header-row .header-row-menu-search .dropdown {
    position: relative;
    display: flex;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-menu-icon {
    padding-right: 10px;
    display: block;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-menu-icon .menu_icon {
    height: 14px;
    width: 20px;
    padding: 4px 5px;
    cursor: pointer;
    margin-top: 5px;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-menu-icon .menu_icon .del {
    display: block;
    height: 3px;
    margin: 3px 0;
    background: #eee;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -155px;
    padding: 15px 0 15px 0;
    top: 50px;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-content ul {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-content ul li {
    list-style: none;
    padding: 0 15px;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-content ul li a {
    color: #626262;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-content ul li a:hover {
    border-bottom: none;
    padding-bottom: 10px;
  }
  .header .header-row .header-row-menu-search .dropdown-content a:hover {
    background-color: #ddd;
  }
  .header .header-row .header-row-menu-search .search {
    width: 130px;
  }
  .header .header-row .header-row-menu-search .search input[type=submit] {
    right: 20px;
  }
  .header .header-row .header-row-menu-search .search input[type=search] {
    padding-left: 10px;
  }
  .header .header-row .header-row-menu-search ::-webkit-input-placeholder {
    color: #626262;
    opacity: 0.6;
    font-size: 0.8em;
  }
  .header .header-row .header-row-menu-search ::-moz-placeholder {
    color: #626262;
    opacity: 0.6;
    font-size: 0.8em;
  }
  .header .header-row .header-row-menu-search :-moz-placeholder {
    color: #626262;
    opacity: 0.6;
    font-size: 0.8em;
  }
  .header .header-row .header-row-menu-search :-ms-input-placeholder {
    color: #626262;
    opacity: 0.6;
    font-size: 0.8em;
  }
  .header .header-row .header-row-menu-search ::placeholder {
    color: #626262;
    opacity: 0.6;
    font-size: 0.8em;
  }
  .header .header-information {
    width: 65%;
    margin: 20vh 0 0 5vh;
  }
  .header .header-information .information-text h1 {
    font-family: OpenSans;
    font-size: 1.8em;
    color: #ffffff;
  }
  .header .header-information .information-text .button-violet {
    padding: 12px 25px;
  }

  .main .section-one {
    padding: 0 0 40px 0;
  }
  .main .section-one .column-left, .main .section-one .column-right {
    width: 50%;
    margin: 0 10px 0 10px;
  }
  .main .section-two {
    padding: 0 15px 0 15px;
  }
  .main .section-two .sec-two-information h2 {
    font-family: OpenSans;
    font-size: 1.8em;
    color: #ffffff;
  }
  .main .section-three .img-desktop {
    display: none;
  }
  .main .section-three .information {
    width: 90%;
    padding: 15px 0px 15px 20px;
  }
  .main .section-four {
    display: flex;
    background: url(img/bg-img-mobile-sec-four.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 477px;
  }
  .main .section-four .sec-four-info {
    height: 350px;
    margin-top: 126px;
  }
  .main .section-four .sec-four-info h2 {
    font-family: OpenSans;
    font-size: 1.8em;
    color: #ffffff;
  }
  .main .section-five {
    background: url(img/bg-img-mobile-sec-five.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 550px;
  }
  .main .section-five .block-information {
    margin: 150px 0 0 50px;
  }
  .main .section-five .block-information h2 {
    font-family: OpenSans;
    font-size: 1.9em;
    color: #ffffff;
  }
  .main .section-six {
    display: flex;
  }
  .main .section-six .img-desktop {
    display: none;
  }
  .main .section-six .text_about {
    width: 90%;
    padding: 15px 0 15px 20px;
  }
  .main .section-seven {
    text-align: center;
    padding: 50px 0 100px 0;
  }

  .footer {
    padding: 40px 0 130px 0;
  }
  .footer p {
    padding: 0 30px 0 20px;
    text-align: center;
  }
}
@media (max-width: 479px) {
  .header {
    background: url(img/bg-header-mobile.jpg) no-repeat fixed;
    height: 515px;
  }
  .header .header-row {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  }
  .header .header-row .head-logo {
    padding: 0 0 5px 5px;
  }
  .header .header-row .header-row-menu-search .dropdown {
    position: relative;
    display: flex;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-menu-icon {
    padding-right: 10px;
    display: block;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-menu-icon .menu_icon {
    height: 14px;
    width: 20px;
    padding: 4px 5px;
    cursor: pointer;
    margin-top: 5px;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-menu-icon .menu_icon .del {
    display: block;
    height: 3px;
    margin: 3px 0;
    background: #eee;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 5px;
    padding: 15px 0 15px 0;
    top: 50px;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-content ul {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-content ul li {
    list-style: none;
    padding: 0 20px;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-content ul li a {
    color: #626262;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
  }
  .header .header-row .header-row-menu-search .dropdown .dropdown-content ul li a:hover {
    border-bottom: none;
    padding-bottom: 10px;
  }
  .header .header-row .header-row-menu-search .dropdown-content a:hover {
    background-color: #ddd;
  }
  .header .header-row .header-row-menu-search .search {
    display: none;
  }
  .header .header-information {
    width: 75%;
    margin: 20vh 0 0 5vh;
  }
  .header .header-information .information-text h1 {
    font-family: OpenSans;
    font-size: 1.6em;
    color: #ffffff;
  }
  .header .header-information .information-text .button-violet {
    padding: 10px 15px;
    font-family: OpenSans-Bold;
    font-size: 0.9em;
    color: #ffffff;
  }

  .main .section-one {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2e3b4e;
    padding: 20px 0 40px 0;
  }
  .main .section-one .column-left, .main .section-one .column-right {
    width: 90%;
    margin-right: 0px;
  }
  .main .section-one .column-left h2, .main .section-one .column-right h2 {
    padding: 10px 0 15px 0;
  }
  .main .section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/bg-img-sec-two.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 350px;
  }
  .main .section-two .sec-two-information h2 {
    text-align: center;
    font-family: OpenSans;
    font-size: 1.1em;
    color: #ffffff;
  }
  .main .section-two .sec-two-information p {
    font-family: OpenSans;
    font-size: 0.6em;
    color: #ffffff;
    text-align: center;
    padding-top: 12px;
  }
  .main .section-two .sec-two-information .button-white {
    width: 180px;
    font-family: OpenSans-Bold;
    font-size: 0.9em;
    color: #d85d71;
    margin: 2em 0 0 4em;
  }
  .main .section-three .img-desktop {
    display: none;
  }
  .main .section-three .information {
    width: 90%;
    padding: 15px 0px 15px 20px;
  }
  .main .section-three .information h2 {
    font-family: OpenSans-Bold;
    font-size: 0.9em;
    color: #3a4d60;
  }
  .main .section-three .information .first-paragraph {
    font-family: OpenSans;
    font-size: 1em;
    color: #3a4d60;
    line-height: 25px;
  }
  .main .section-four {
    display: flex;
    background: url(img/bg-img-mobile-sec-four.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 477px;
  }
  .main .section-four .sec-four-info {
    height: 320px;
    margin-top: 157px;
  }
  .main .section-four .sec-four-info h2 {
    font-family: OpenSans;
    font-size: 1.5em;
    color: #ffffff;
    padding: 30px 0 20px 0;
  }
  .main .section-four .sec-four-info .button-green {
    padding: 15px 20px;
    margin: 15px 15px;
  }
  .main .section-five {
    background: url(img/bg-img-mobile-sec-five.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
  }
  .main .section-five .block-information {
    margin: 150px 0 0 25px;
  }
  .main .section-five .block-information h2 {
    font-family: OpenSans;
    font-size: 1.25em;
    color: #ffffff;
    padding-top: 20px;
  }
  .main .section-five .block-information p {
    font-family: OpenSans;
    font-size: 0.9em;
    color: #b0aead;
    padding-left: 5px;
  }
  .main .section-five .block-information p:before {
    left: -10px;
  }
  .main .section-six {
    display: flex;
  }
  .main .section-six .img-desktop {
    display: none;
  }
  .main .section-six .text_about {
    width: 90%;
    padding: 15px 0 15px 20px;
  }
  .main .section-six .text_about h2 {
    font-family: OpenSans-Bold;
    font-size: 0.9em;
    color: #3a4d60;
  }
  .main .section-seven {
    text-align: center;
    padding: 30px 0 50px 0;
  }

  .footer {
    padding: 50px 0 50px 0;
  }
  .footer p {
    padding: 0 30px 0 20px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
